<% @wowrships.each do |worship| %>
  <p><%= worship.category %></p>
  <p><%= worship.title %></p>
  <p><%= worship.place %></p>
  <p><%= worship.date %></p>
  <p><%= worship.content %></p>
  <hr>
<% end %>
