<div class="contents-title user-title text-center">
  <h1>会員情報</h1>
</div>
<div class="profile-wrap">
  <div class="row">
    <div class="col-5 col-sm-4 col-xs-4 text-center">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, class: "round-img" %>
      <% else %>
        <%= image_tag "default.jpg", class: "round-img" %>
      <% end %>
    </div>
    <div class="col-7 col-sm-8 col-xs-8 center-block profile-texts">
      <div class="row">
        <h2><%= @user.name %></h2>
        <% if current_user.id == @user.id %>
          <%= link_to edit_user_registration_path(@user.id) do %>
            <span class="fas fa-pen edit-user-btn"></span>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="follow-btn">
          <%=link_to "フォロー中", follows_user_path(@user.id), class: "follow-link common-link" %>
        </div>
        <div class="follow-count">
          <%= @user.followings.count %>
        </div>
        <div class="follow-btn">
          <%=link_to "フォロワー", followers_user_path(@user.id), class: "follow-link common-link" %>
        </div>
        <div class="follower-count">
          <%= @user.followers.count %>
        </div>
        <div class="follow-btn">
          <%= render "relationships/follow_button" %>
        </div>
      </div>
      <div class="row">
        <p>
          <%= @user.introduce %>
        </p>
      </div>
    </div>
  </div>
</div>
<%# ---------- サイドナビ -------- %>
<nav class="navbar navbar-expand justify-content-center user-nav" >
  <div class="collapse navbar-collapse justify-content-center">
    <ul class="navbar-nav text-md-center nav-justified w-100">
      <li class="nav-item align-items-center">
        <%= link_to("参拝記事", "/users/#{@user.id}/worships", {class: "nav-link worship-link"}) %>
      </li>
      <li class="nav-item">
        <%= link_to("ご朱印帳", "/users/#{@user.id}/seals", {class: "nav-link user-nav-link"}) %>
      </li>
    </ul>
  </div>
</nav>