<div class="album py-5 bg-light">
  <div class="container">
    <div class="bg-mask">
      <h2>参拝記事一覧</h2>
      <div class="row">
        <% if user_signed_in? %>
          <% @worships.each do |worship| %>
            <%# <div class="col-4 col-md-3 col-lg-2"> %>
            <div class="col-md-3 col-6">
              <div class="card mb-4 shadow-sm">
                <a href="/worships/<%= worship.id %>">
                  <% if worship.images? %>
                    <%= image_tag worship.images[0].to_s, class: 'card-img-top' %>
                  <% else %>
                    <%= image_tag "default.jpg", class: 'card-img-top' %>
                  <% end %>
                  <div class="card-body">
                    <p class="card-text"><%= worship.category %> | <%= worship.prefecture.name %> </p>
                    <p class="card-text"><%= worship.place %></p>
                    <p class="card-text"><%= worship.user_name.present? ? worship.user_name : "会員No.#{worship.user.id}" %></p>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <p class="btn-see-more"><%= link_to "もっと見る", worships_path, class: "btn btn-primary", role: "button" %></p>
    </div>
  </div>
</div>
