<h1>参拝記事一覧</h1>
<% if user_signed_in? %>
  <% @worships.each do |worship| %>
    <p><%= worship.category %></p>
    <p><%= worship.title %></p>
    <p><%= worship.place %></p>
    <p><%= worship.date %></p>
    <p><%= worship.content %></p>
    <p><%= worship.user.name.present? ? worship.user.name : "会員No.#{worship.user.id}" %></p>
    <hr>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
