<h1>参拝記事一覧</h1>
<% if user_signed_in? %>
  <% @worships.each do |worship| %>
    <p><%= worship.category %></p>
    <p><%= worship.title %></p>
    <p><%= worship.place %></p>
    <p><%= worship.user_name.present? ? worship.user_name : "会員No.#{worship.user.id}" %></p>
    <% if worship.images? %>
      <p><%= image_tag worship.images[0].thumb.to_s %></p>
    <% end %>
    <p><%= link_to "詳細", worship %></p>
    <hr>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
