<h1>参拝記事一覧</h1>
<div class="texts-wrapper">
  <div class="contents-title text-center">
    <div class="row" >
      <% if user_signed_in? %>
        <% @worships.each do |worship| %>
          <div class="col-4 col-md-3 col-lg-2">
            <a href="/worships/<%= worship.id %>">
              <div class="card">
                <% if worship.images? %>
                  <p><%= image_tag worship.images[0].to_s, class: 'card-img-top' %></p>
                <% end %>
                <p><%= worship.category %> | <%= worship.place %></p>
                <p><%= worship.title %></p>
                <p><%= worship.user_name.present? ? worship.user_name : "会員No.#{worship.user.id}" %></p>
                <p id="worship-<%= worship.id %>">
                  <% if worship.liked_worship_by?(current_user) %>
                    <%= render "like", worship: worship %>
                  <% else %>
                    <%= render "dislike", worship: worship %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>ログインしてください</p>
        <% end %>
      </div>
    </div>
  </div>
