<h1>参拝記事 詳細</h1>
<p><%= @worship.category %></p>
<p><%= @worship.title %></p>
<p>場所 : <%= @worship.place %></p>
<p>参拝日 : <%= @worship.date %></p>
<p><%= @worship.content %></p>
<%= @worship.user_name.present? ? @worship.user_name : "会員No.#{@worship.user.id}" %></p>
<% if @worship.images? %>
  <% @worship.images.each do |image|  %>
    <%= image_tag image.to_s %>
  <% end %>
<% end %>
<p id="worship-<%= @worship.id %>">
  <% if @worship.liked_worship_by?(current_user) %>
    <%= render "like", worship: @worship %>
  <% else %>
    <%= render "dislike", worship: @worship %>
  <% end %>
</p>
<% if current_user.id == @worship.user_id %>
  <p>
    <%= link_to "編集", edit_worship_path(@worship) %>
    <%= link_to "削除", worship_path(@worship), method: :delete, data: { confirm: "削除しますか?" } %>
  </p>
<% end %>
<hr>
<% if current_user %>
  <%= form_with(model: [@worship, @comment], local: true) do |f| %>
    <%= f.text_field :content %>
    <%= f.submit 'コメントする' %>
  <% end %>
<% end %>
<hr>
<h4>コメント一覧</h4>
<% if @comments %>
  <% @comments.each do |comment| %>
    <p>
      <%= comment.user_name %>
      <%= comment.content %>
    </p>
  <% end %>
<% end %>
<p><%= link_to "投稿一覧へ", worships_path %></p>
