<div class="contents-title text-center">
  <h1 class="main-title">参拝記事</h1>
</div>
<section class="container mb-5">
  <div class="row p-0 d-flex mb-2 justify-content-center">
    <%# 詳細  %>
    <div class="col-sm-pu-10 col-md-10 col-lg-6 pt-4 order-lg-2">
      <div class="category">
        <span class="title-label">
          分
          <span class="title-label-space"></span>
          類 > 
        </span>
        <p class="category-contents">
          <%= @worship.category %>
        </p>
      </div>
      <div class="area">
        <span class="title-label">
          名
          <span class="title-label-space"></span>
          称  
        </span>
        <h2 class="show-title">
          <%= @worship.place %>
        </h2>
      </div>
      <div class="prefecture">
        <span class="title-label">
          所在地
        </span>
        <p class="prefecture-contents">
          <%= @worship.prefecture.name %>
          <%= @worship.address %>
        </p>
      </div>
      <div class="thoughts">
        <span class="title-label">
          感
          <span class="title-label-space"></span>
          想
        </span>
        <p class="thoughts-contents"><%=safe_join(@worship.content.split("\n"),tag(:br))%></p>
      </div>
      <% if user_signed_in? %>
        <p id="worship-<%= @worship.id %>">
          <% if @worship.liked_worship_by?(current_user) %>
            <%= render "like", worship: @worship %>
          <% else %>
            <%= render "dislike", worship: @worship %>
          <% end %>
        </p>
        <p class="current-user-button">
          <% if current_user.id == @worship.user_id %>
            <%= link_to edit_worship_path(@worship), class: "btn btn btn-secondary text-white edit-button", method: :get do %>
              <i class="fas fa-pen"></i>
            <% end %>
            <%= link_to worship_path(@worship), class: "btn btn-danger text-white delete-button", method: :delete, data: {confirm: "削除しますか？"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
    <%# -------------- %>
    <%# 投稿画像 表示 %>
    <div class="col-sm-10 col-md-10 col-lg-6 order-lg-1">
      <% if @worship.images? %>
        <div class="photos-wrapper">
          <div class="course-wrapper">
            <div class="thumbnail">
              <% @worship.images.each do |image|  %>
                <div class="course-item">
                  <%= image_tag image.to_s, class:"course-item-img img" %>
                  <div class="caption">
                    <div class="photo-user">
                      <p class="photo-user-name">
                        <% if @worship.user_name.present? %>
                          <%= link_to "#{@worship.user_name}", user_path(@worship.user_id) %>
                        <% else %>
                          <%= link_to "ななし#{@worship.user_id}", user_path(@worship.user_id) %>
                        <% end %>
                      </p>
                      <p class="worship-date">参拝日 : <%= @worship.date %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="thumbnail-thumb">
            <% @worship.images.each do |image|  %>
              <%= image_tag image.to_s %>
            <% end %>
          </div>
        </div>
        <div id="grayDisplay"></div>
      <% end %>
    </div>
    <%# -------------- %>
  </div>
  <hr>
  <div class="col-sm-10 col-md-10 col-lg-6 order-lg-1">
    <% if current_user %>
      <%= form_with(model: [@worship, @comment], local: true) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
        <%= f.text_field :content, required: true %>
        <%= f.submit 'コメントする' %>
      <% end %>
    <% end %>
    <hr>
    <h4 class="coment-title">コメント一覧</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <%= comment.user_name %>
          <%= comment.content %>
        </p>
      <% end %>
    <% end %>
    <p><%= link_to "投稿一覧へ", worships_path %></p>
  </div>
</section>
