<h1>ご朱印帳</h1>
<%= paginate @seals %>
<div class="texts-wrapper">
  <div class="contents-title text-center">
    <div class="row" >
      <% @seals.each do |seal| %>
        <div class="col-4 col-md-3 col-lg-2">
          <a href="/seals/<%= seal.id %>">
            <div class="card">
              <% if seal.images? %>
                <p><%= image_tag seal.images[0].to_s, class: 'card-img-top' %></p>
              <% end %>
              <p><%= seal.category %> | <%= seal.prefecture.name %></p>
              <p><%= seal.place %></p>
              <p><%= seal.user_name.present? ? seal.user_name : "会員No.#{seal.user.id}" %></p>
              <p id="seal-<%= seal.id %>">
                <% if user_signed_in? %>
                  <% if seal.liked_seal_by?(current_user) %>
                    <%= render "like", seal: seal %>
                  <% else %>
                    <%= render "dislike", seal: seal %>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
