<div class="album py-5 ">
  <div class="container seal-index">
    <div class="bg-mask">
      <h2 class="seals-list-title">
        検索結果
        <span class="title-font-size">
          <span class="title-label-space"></span>
          -
          <span class="title-label-space"></span>
          ご朱印帳
          <span class="title-label-space"></span>
          -
        </span>
      </h2>
      <!-----  検索フォーム  ----->
      <div class="row search-form">
        <%= search_form_for @q, url: search_seals_path do |f| %>
          <div class="form-inline my-2 my-lg-0">
            <%= f.select :category_eq, [["神社", "神社"],["寺", "寺"]], {include_blank: "カテゴリー選択"}, class:"form-control mr-sm-2 search-category" %>
            <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: "都道府県選択"}, class: "form-control mr-sm-2 search-prefecture" %>
            <%= f.search_field :place_cont, class:"form-control mr-sm-2 search-place", type:"search", placeholder:"例: 寒川神社"  %>
            <%= f.submit '検索', class:"btn btn-primary my-2 my-sm-0", type:"submit" %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% if @results.length != 0 %>
          <% @results.each do |seal| %>
            <div class="col-md-3 col-6">
              <div class="card mb-4 shadow-sm">
                <a href="/seals/<%= seal.id %>">
                  <% if seal.images? %>
                    <%= image_tag seal.images[0].to_s, class: 'card-img-top' %>
                  <% else %>
                    <%= image_tag "default.jpg", class: 'card-img-top' %>
                  <% end %>
                  <div class="card-body card-seal">
                    <p class="card-text">
                      <% if seal.category == "神社" %>
                        <%= image_tag "shrine_icon.jpg", class: 'shrine-icon seals-icon' %> | <%= seal.prefecture.name %>
                      <% else %>
                        <%= image_tag "temple_icon.jpg", class: 'temple-icon seals-icon' %> | <%= seal.prefecture.name %>
                      <% end %>
                    </p>
                    <p><%= seal.place %></p>
                    <p class="card-text"><%= seal.user_name.present? ? seal.user_name : "会員No.#{seal.user.id}" %></p>
                    <p class="likes-button" id="seal-<%= seal.id %>">
                      <% if user_signed_in? %>
                        <% if seal.liked_seal_by?(current_user) %>
                          <%= render "like", seal: seal %>
                        <% else %>
                          <%= render "dislike", seal: seal %>
                        <% end %>
                      <% end %>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="search-result">検索結果はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# <%= paginate @seals %>
<p><%= link_to "戻る", :back %></p>
