<h1>御朱印帳 詳細</h1>
<%# 投稿画像 表示 %>
<% if @seal.images? %>
  <div class="wrapper">
    <div class="thumbnail">
      <% @seal.images.each do |image|  %>
        <div><%= image_tag image.to_s %></div>
      <% end %>
    </div> 
    <div class="thumbnail-thumb">
      <% @seal.images.each do |image|  %>
        <%= image_tag image.to_s %>
      <% end %>
    </div> 
  </div> 
<% end %>
<%# -------------- %>
<p><%= @seal.category %></p>
<p><%= @seal.prefecture.name %></p>
<p>場所 : <%= @seal.place %></p>
<p>参拝日 : <%= @seal.date %></p>
<% if @seal.user_name.present? %>
  <%= link_to "#{@seal.user_name}", user_path(@seal.user_id) %>
<% else %>
  <%= link_to "会員No.#{@seal.user_id}", user_path(@seal.user_id) %>
<% end %>
<% if user_signed_in? %>
  <p id="seal-<%= @seal.id %>">
    <% if @seal.liked_seal_by?(current_user) %>
      <%= render "like", seal: @seal %>
    <% else %>
      <%= render "dislike", seal: @seal %>
    <% end %>
  </p>
  <% if current_user.id == @seal.user_id %>
    <p>
      <%= link_to "編集", edit_seal_path(@seal) %>
      <%= link_to "削除", seal_path(@seal), method: :delete, data: { confirm: "削除しますか?" } %>
    </p>
  <% end %>
<% end %>
<hr>
<p><%= link_to "投稿一覧へ", seals_path %></p>
