<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "神仏集合", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            参拝記事
          </a>
          <!-----  ドロップダウン  ----->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <%= link_to "参拝記事一覧", worships_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "参拝記事を書く", new_worship_path, class: "nav-link" %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ご朱印帳
          </a>
          <!-----  ドロップダウン  ----->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <%= link_to "ご朱印帳", seals_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "御朱印投稿", new_seal_path, class: "nav-link" %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            マイページ
          </a>
          <!-----  ドロップダウン  ----->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "nav-link" %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <!-----  非ログイン時  ----->
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link active"%>
          </li>
        <% end %>
      </ul>
      <!-----  検索フォーム  ----->
      <%= search_form_for @q, url: search_worships_path do |f| %>
        <div class="form-inline my-2 my-lg-0">
          <%= f.search_field :place_cont, class:"form-control mr-sm-2", type:"search", placeholder:"例: 神奈川 神社"  %>
          <%= f.submit '検索', class:"btn btn-outline-light my-2 my-sm-0", type:"submit" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
